* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 24, 36);
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 24, 36, 1) 0%,
    rgba(7, 64, 172, 0.7357536764705883) 0%,
    rgba(113, 59, 107, 0.9122242647058824) 34%,
    rgba(175, 52, 34, 0.8253895308123249) 80%,
    rgba(87, 8, 114, 0.7441570378151261) 93%,
    rgba(68, 35, 114, 1) 99%
  );
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-content {
  width: 70%;
  margin: 0 auto;
  margin: 3rem;
  padding: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.header-content .message {
  font-size: 2.5rem;
  margin: 20px;
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}
.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}
.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}
.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}
@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}
.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}
@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  font-size: 5.5rem;
}
.container-segment {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: center;
}
.dots {
  width: 30px;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dots div {
  background-color: white;
  width: 10px;
  height: 10px;
  margin: 10px;
}
.segment {
  display: flex;
  gap: 0.1em;
}
.segment-title {
  font-size: 1.2rem;
  margin-top: 10px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
}
.footer button {
  margin: 10px;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: none;
  border-radius: 10px;
}
.footer button:hover {
  cursor: pointer;
  background-color: rgb(194, 189, 178);
}
.footer button i {
  font-size: 1.2rem;
}
.footer .play-btn:hover {
  background-color: green;
}
.footer .stop-btn:hover {
  background-color: red;
}
